---

import { Image } from "astro:assets";
import "./card.css";

import illustrationArticle from "./assets/images/illustration-article.svg";
import imageAvatar from "./assets/images/image-avatar.webp";
---

<article class="card">
  <Image
    src={illustrationArticle}
    alt="card illustration"
    class="card__image"
  />
  <ul class="card__tags">
    <li class="card__tag">Learning</li>
  </ul>
  <p class="card__publish-date">
    Published
    <time datetime="2023-12-21">21 Dec 2023</time>
  </p>
  <a href="#" class="card__title"><h2>HTML & CSS foundations</h2></a>
  <p class="card__description">
    These languages are the backbone of every website, defining structure,
    content, and presentation.
  </p>
  <footer class="card__footer">
    <Image src={imageAvatar} alt="author" class="card__avatar" />
    <p class="card__author-name">Greg Hooper</p>
  </footer>
</article>
