---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const challenges = await getCollection("challenges");
console.log(challenges);
---

<BaseLayout title="Frontend Mentor Solutions">
  <div class="homepage">
    <header class="homepage__header">
      <h1 class="homepage__title">Frontend Mentor Challenges</h1>
      <p class="homepage__subtitle">
        A collection of my solutions to challenges from Frontend Mentor, built
        with Astro.
      </p>
    </header>
    <section class="homepage__gallery">
      {
        challenges.map((challenge) => (
          <a
            href={`/projects/${challenge.data.title.toLowerCase().replaceAll(" ", "-")}`}
            class="challenge-card"
          >
            <h2 class="challenge-card__title">{challenge.data.title}</h2>
            <Image
              src={challenge.data.image}
              alt={`Screenshot of the ${challenge.data.title} challenge`}
              class="challenge-card__image"
            />
          </a>
        ))
      }
    </section>

    <footer class="homepage__footer">
      <p>
        Find me on <a href="https://www.frontendmentor.io/profile/Kesmek"
          >Frontend Mentor</a
        > or
        <a href="https://github.com/kesmek">GitHub</a>.
      </p>
    </footer>
  </div>
</BaseLayout>
