@layer tokens {
	:root {
		--calculator-green-400: hsl(172deg 67% 45%);
		--calculator-green-900: hsl(183deg 100% 15%);
		--calculator-grey-50: hsl(189deg 47% 97%);
		--calculator-grey-200: hsl(185deg 41% 84%);
		--calculator-grey-400: hsl(184deg 14% 56%);
		--calculator-grey-500: hsl(186deg 14% 43%);
		/* stylelint-disable-next-line plugin/selector-bem-pattern */
		--color-background: var(--calculator-grey-200);
	}
}

@layer components {
	.calculator {
		font-size: 24px;
		font-family: var(--space-mono);
		display: flex;
		flex-direction: column;
		gap: var(--size-5);
		align-items: center;
		inline-size: 100%;
	}

	.calculator__form {
		background: var(--color-white);
		border-start-start-radius: var(--radius-3);
		border-start-end-radius: var(--radius-3);
		inline-size: 100%;
		padding: var(--size-5);
	}

	.calculator__input-label {
		color: var(--calculator-grey-500);
		font-size: var(--font-size-2);
	}

	.calculator__input-error {
		color: var(--color-red-900);
	}

	.calculator__input-container {
		background: var(--calculator-grey-50);
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: var(--radius-1);
		padding-inline-start: var(--size-2);
		overflow: clip;

		&:focus-within {
			outline: var(--border-size-2) solid var(--calculator-green-400);
		}
	}

	.calculator__icon {
	}

	.calculator__input {
		text-align: right;
		inline-size: 100%;
		border: none;
		background: transparent;

		&:focus-visible {
			outline: none;
		}
	}
}
