---
interface Props {
  title?: string;
  favicon?: string;
}

const { title = "Frontendmentor Challenges", favicon = "/favicon.svg" } =
  Astro.props;
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    {
      favicon?.endsWith(".svg") ? (
        <link rel="icon" type="image/svg+xml" href={favicon} />
      ) : (
        <link rel="icon" type="image/png" href={favicon} />
      )
    }
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script type="module" is:inline>
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
    <script>
      import "invokers-polyfill";
    </script>
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
