@layer tokens {
	:root {
		--article-blue-1: hsl(210deg 46% 95%);
		--article-blue-2: hsl(212deg 23% 69%);
		--article-blue-3: hsl(214deg 17% 51%);
		--article-blue-4: hsl(217deg 19% 35%);
		/* stylelint-disable-next-line plugin/selector-bem-pattern */
		--color-background: var(--article-blue-1);
	}
}

@layer components {
	.article {
		font-family: var(--manrope);
		font-size: 13px;
		border-radius: var(--radius-3);
		overflow: clip;
		background-color: var(--color-white);
		display: grid;
		grid-template-columns: 1fr;
		max-inline-size: var(--size-17);
		box-shadow: 0 0 50px -10px var(--article-blue-2);
		margin-inline: var(--size-4);
		position: relative;

		@media (width > 50rem) {
			grid-template-columns: 40% 1fr;
		}
	}

	.article__hero {
		block-size: 100%;
		inline-size: 100%;
		object-fit: cover;
	}

	.article__content {
		padding: var(--size-7);
		display: flex;
		flex-direction: column;
		gap: var(--size-5);
		color: var(--article-blue-4);

		@media (width > 50rem) {
			padding: calc(var(--size-7) * 1.25);
		}
	}

	.article__text {
		color: var(--article-blue-3);
	}

	.article__footer {
		display: grid;
		grid-template-columns: calc(var(--size-7) * 1.25) 1fr var(--size-7);
		align-items: center;
		gap: var(--size-3);
	}

	.article__avatar {
		border-radius: var(--radius-round);
	}

	.article__author {
		color: var(--article-blue-4);
	}

	.article__date {
		color: var(--article-blue-2);
	}

	.article__share-btn {
		anchor-name: --article-share-btn;
		background-color: var(--article-blue-1);
		border: none;
		inline-size: 100%;
		aspect-ratio: 1;
		border-radius: var(--radius-round);
		cursor: pointer;
		color: var(--article-blue-4);
		display: grid;
		place-items: center;
		transition:
			background-color 150ms,
			color 150ms;
		z-index: 1;

		&:hover {
			color: var(--color-white);
			background-color: var(--article-blue-3);
		}
	}

	.article__content:has(.article__popover:popover-open) .article__share-btn,
	/* stylelint-disable-next-line no-descending-specificity */
	.article__content:has(.article__popover-mobile--active) .article__share-btn {
		color: var(--color-white);
		background-color: var(--article-blue-3);
		inline-size: var(--size-7);
	}

	.article__social-link {
		color: var(--color-white);
		transition: color 100ms;
		padding: var(--size-2);

		&:hover {
			color: var(--article-blue-3);
		}
	}

	.article__popover {
		position-anchor: --article-share-btn;
		inset: auto;
		position-area: block-start span-all;
		margin-block-end: var(--size-4);
		border: none;
		padding: 0;
		background: transparent;
		flex-direction: column;
		align-items: center;
		filter: drop-shadow(0 0 10px var(--article-blue-2));
		opacity: 0;
		translate: 0 100%;
		transition-behavior: allow-discrete;
		transition-duration: 0.2s;
		transition-property: opacity, translate, display;
	}

	.article__popover:popover-open {
		display: flex;
		opacity: 1;
		translate: 0 0;

		@starting-style {
			opacity: 0;
			translate: 0 100%;
		}

		@media (width < 50rem) {
			display: none;
		}
	}

	.article__popover-content {
		background-color: var(--article-blue-4);
		color: var(--article-blue-2);
		text-transform: uppercase;
		display: flex;
		align-items: center;
		gap: var(--size-1);
		padding: var(--size-3) var(--size-7);
		border-radius: var(--radius-3);
	}

	.article__popover-arrow {
		/* stylelint-disable-next-line plugin/selector-bem-pattern */
		--triangle-base: 25px;
		/* stylelint-disable-next-line plugin/selector-bem-pattern */
		--triangle-height: 15px;

		width: var(--triangle-base);
		height: var(--triangle-height);
		background-color: var(--article-blue-4);
		clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	}

	.article__share-label {
		letter-spacing: var(--font-letterspacing-5);
		text-box: trim-both cap alphabetic;
	}

	.article__popover-separator {
		inline-size: 90%;
	}

	.article__popover-mobile {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		translate: 0 100%;
		transition-behavior: allow-discrete;
		transition-duration: 0.2s;
		transition-property: opacity, translate, display;

		& .article__popover-content {
			border-start-start-radius: 0;
			border-start-end-radius: 0;
			padding-block: var(--size-7);
		}
	}

	.article__popover-mobile--active {
		display: block;
		opacity: 1;
		translate: 0 0;
		transition-behavior: allow-discrete;
		transition-duration: 0.2s;
		transition-property: opacity, translate, display;

		@starting-style {
			opacity: 0;
			translate: 0 100%;
		}

		@media (width >= 50rem) {
			display: none;
		}
	}
}
