---

import { Image } from "astro:assets";
import avatar from "./assets/images/avatar-jessica.jpeg";
import "./card.css";
---

<article class="card">
  <Image src={avatar} alt={"Avatar of Jessica"} class={"card__avatar"} />
  <div class="card__details-block">
    <h2 class="card__name">Jessica Randall</h2>
    <h3 class="card__location">London, United Kingdom</h3>
  </div>
  <p class="card__bio">"Front-end developer and avid reader"</p>
  <ul class="card__list">
    <li><a href="#" class="card__link">GitHub</a></li>
    <li><a href="#" class="card__link">Frontend Mentor</a></li>
    <li><a href="#" class="card__link">LinkedIn</a></li>
    <li><a href="#" class="card__link">Twitter</a></li>
    <li><a href="#" class="card__link">Instagram</a></li>
  </ul>
</article>
